venv/
.idea/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
/AuditService/logfiles/*
/AuditService/docker_context/logfiles/*
/WorkloadGenerator/docker_context/commandanalysis/*
/EXE's/dump.rdb