* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  padding: 0.5rem;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-space-content * {
  margin-right: 0.25rem;
}

form {
  margin-bottom: 0.25rem;
}

/* Error div */
.error {
  text-align: center;
  color: crimson;
}
/* ----------- */

.main-content {
  margin-top: 1.5rem;
  margin-left: 10rem;
  margin-right: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.auditing-actions {
  background-color: blue;
  width: 100%;
  padding: 0.5rem;
}

.account-actions {
  background-color: blueviolet;
  width: 100%;
  padding: 0.5rem;
}

/* User credentials div */
.user-credentials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#user-id {
  margin-right: 0.5rem;
}

#admin {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}
/* ----------- */

/* Quote div */
.quote {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ----------- */

/* Transaction div */
.transaction {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
/* ----------- */

/* Trigger div */
.trigger {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
/* ----------- */

/* Display summary */
.display-summary {
  display: flex;
  flex-direction: column;
}

.userFunds {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.triggers-and-history {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.active-triggers {
  width: 100%;
  height: 100px;
  background-color: burlywood;
}

.transaction-history {
  width: 100%;
  height: 100px;
  background-color: chartreuse;
}
/* ----------- */
