* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  padding: 0.5rem;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Error div */
.error {
  text-align: center;
  color: crimson;
}
/* ----------- */

.main-content {
  margin-top: 1.5rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

/* User credentials div */
.user-credentials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#user-id {
  margin-right: 0.5rem;
}

#admin {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}
/* ----------- */

/* Quote div */
.quote {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote * {
  margin-right: 0.25rem;
}
/* ----------- */

/* Add div */
.add * {
  margin-right: 0.25rem;
}
/* ----------- */

/* Transaction div */
.transaction {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.transact-form {
  margin-bottom: 0.75rem;
}

.transact-form * {
  margin-right: 0.25rem;
}

.commit-form {
  margin-bottom: 0.25rem;
}

.commit-form * {
  margin-right: 0.25rem
}

.cancel-form {
  margin-bottom: 0.75rem;
}

.cancel-form * {
  margin-right: 0.25rem
}
/* ----------- */

/* Trigger div */
.trigger-amount-form {
  margin-bottom: 0.25rem;
}

.trigger-amount-form * {
  margin-right: 0.25rem
}
/* ----------- */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}